#operator_btns button, #number-btns button {
    width: 46px;
    height: 38px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #eee;
    transition: background-color 0.3s;
}

#operator_btns button:hover, #number_btns button:hover {
    background-color: #ddd;
}

#operator_btns button:active, #number_btns button:active {
    background-color: #ccc;
}

button {
    user-select: none;
}

#result {
    font-size: 28px;
    margin-top: 20px;
}

#operator_btns button {
    background-color: #fcc;
    color: #000;
}

#operator_btns button:hover {
    background-color: #faebcc;
}

#operator_btns button:active {
    background-color: #fab1a8;
}

#number_btns button {
    background-color: #ebebeb;
    color: #555;
}

#number_btns button:hover {
    background-color: #dbdbdb;
}

#number_btns button:active {
    background-color: #cacaca;
}

#number-btns button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
}

#number_btns button:disabled:hover {
    background-color: #ddd;
}

#number_btns button:disabled:active {
    background-color: #ddd;
}

#number_btns button:not(:disabled):focus {
    box-shadow: 0 0 0 2px #5bc0de;
}